@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Ubuntu, sans-serif;
}

main {
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem;
  color: #111827;
}

p {
  font-family: Ubuntu, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

.questiontext {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  margin: 2rem;
  color: #111827;
}

.answer-btn {
  margin-bottom: 1rem;
}

.welcome {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;

}

.game-description {
  text-align: center;
  margin: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #111827;
}

.playerdetails {
  text-align: center;
  margin: 1rem;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #111827;
}

.gameover {
  display: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  color: #111827;
  margin-top: 2rem;
}

.questioncontainer {
  display: none;
}

.questioncontainer,
.hidden {
  font-family: Ubuntu, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  color: #111827;
  background-color: #e0f7fa;
  border-radius: 0.5rem;
}

.startgamebtn,
.restartbtn,
.navbtn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  touch-action: manipulation;
  width: auto;
}

.startgamebtn:hover,
.restartbtn:hover,
.navbtn:hover {
  background-color: #374151;
}

.startgamebtn:focus,
.restartbtn:focus,
.navbtn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.scoreboard {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  color: #111827;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
  font-family: Ubuntu, sans-serif;
  color: #333;
}

.pointscontainer {
  margin-bottom: 3rem;
}